<a href="https://colab.research.google.com/github/caltunay/dd_competition_eq_damage_prediction/blob/master/03_09_retake_eq.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
import numpy as np

In [0]:
test_vals = '/content/drive/My Drive/Colab Notebooks/Data/Competition - DrivenData - Earthquake Damage Prediction/test_values.csv'

train_vals = '/content/drive/My Drive/Colab Notebooks/Data/Competition - DrivenData - Earthquake Damage Prediction/train_values.csv'
train_labs = '/content/drive/My Drive/Colab Notebooks/Data/Competition - DrivenData - Earthquake Damage Prediction/train_labels.csv'

In [0]:
all = pd.merge(left = pd.read_csv(train_vals), right = pd.read_csv(train_labs), on = 'building_id', how = 'inner')
all.head()

   building_id  geo_level_1_id  ...  has_secondary_use_other  damage_grade
0       802906               6  ...                        0             3
1        28830               8  ...                        0             2
2        94947              21  ...                        0             3
3       590882              22  ...                        0             2
4       201944              11  ...                        0             3

[5 rows x 40 columns]

In [0]:
categorik = all.select_dtypes('object').columns.tolist()

all_dummied = pd.get_dummies(data = all, prefix_sep = '|', columns = categorik, drop_first = True)

In [0]:
damage_dict = {1:0, 2:1, 3:2}

all_dummied['damage_grade'] = all_dummied['damage_grade'].replace(damage_dict)

In [0]:
# dicts for target encoding
geo1_dict = all_dummied.groupby('geo_level_1_id').mean()['damage_grade'].to_dict()
geo2_dict = all_dummied.groupby('geo_level_2_id').mean()['damage_grade'].to_dict()
geo3_dict = all_dummied.groupby('geo_level_3_id').mean()['damage_grade'].to_dict()

In [0]:
all_dummied['geo_level_1_id'] = all_dummied['geo_level_1_id'].replace(geo1_dict)
all_dummied['geo_level_2_id'] = all_dummied['geo_level_2_id'].replace(geo2_dict)
all_dummied['geo_level_3_id'] = all_dummied['geo_level_3_id'].replace(geo3_dict)

In [0]:
numerik = all_dummied.drop(labels = 'building_id geo_level_1_id geo_level_2_id geo_level_3_id damage_grade'.split(), axis = 1).nunique().sort_values(ascending = False).index[:5].tolist()

In [0]:
all_dummied[numerik].describe().T

                        count       mean        std  ...   50%   75%    max
area_percentage      260601.0   8.018051   4.392231  ...   7.0   9.0  100.0
age                  260601.0  26.535029  73.565937  ...  15.0  30.0  995.0
height_percentage    260601.0   5.434365   1.918418  ...   5.0   6.0   32.0
count_families       260601.0   0.983949   0.418389  ...   1.0   1.0    9.0
count_floors_pre_eq  260601.0   2.129723   0.727665  ...   2.0   2.0    9.0

[5 rows x 8 columns]

In [0]:
age995 = all_dummied[all_dummied['age'] == 995]
remainder = all_dummied[all_dummied['age'] != 995]

In [0]:
age_dict = remainder['age'].value_counts(normalize = True).to_dict()

In [0]:
el = []

for k, v in age_dict.items():
    
    repetition = round(v * 1390)
    temp_l = [k] * repetition
    
    el = el + temp_l

# shuffle(el)

In [0]:
from random import shuffle

In [0]:
# shuffle(el)
len(el)

1392

In [0]:
el.pop()
el.pop()

200

In [0]:
age995['age'] = el

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
all_clean = pd.concat([remainder, age995], axis = 0).reset_index(drop = True)

In [0]:
all_clean[numerik].describe().T

                        count       mean        std  ...   50%   75%    max
area_percentage      260601.0   8.018051   4.392231  ...   7.0   9.0  100.0
age                  260601.0  21.340766  19.603808  ...  15.0  30.0  200.0
height_percentage    260601.0   5.434365   1.918418  ...   5.0   6.0   32.0
count_families       260601.0   0.983949   0.418389  ...   1.0   1.0    9.0
count_floors_pre_eq  260601.0   2.129723   0.727665  ...   2.0   2.0    9.0

[5 rows x 8 columns]

In [0]:
age_series = pd.cut(x = all_clean['age'], bins = [0,10,30,80,200], include_lowest = True, labels = 'new young old ancient'.split()).rename('age_bins', inplace = True)

age_series

In [0]:
all_clean = pd.concat([all_clean, age_series], axis = 1).drop(labels = 'age', axis = 1)

In [0]:
numerik.pop(numerik.index('age'))

'age'

In [0]:
all_clean[numerik].describe().T

                        count      mean       std  min  25%  50%  75%    max
area_percentage      260601.0  8.018051  4.392231  1.0  5.0  7.0  9.0  100.0
height_percentage    260601.0  5.434365  1.918418  2.0  4.0  5.0  6.0   32.0
count_families       260601.0  0.983949  0.418389  0.0  1.0  1.0  1.0    9.0
count_floors_pre_eq  260601.0  2.129723  0.727665  1.0  2.0  2.0  2.0    9.0

In [0]:
series_area = pd.cut(x = all_clean['area_percentage'], bins = [1,5,9,100], labels = 'small average big'.split(), include_lowest = True).rename('area_bins')

all_clean = pd.concat([all_clean, series_area], axis = 1).drop(labels = 'area_percentage', axis = 1)

In [0]:
all_clean.head()

   building_id  geo_level_1_id  ...  age_bins  area_bins
0       802906        1.161724  ...     young    average
1        28830        1.485273  ...       new    average
2        94947        1.563369  ...       new      small
3       590882        1.000960  ...       new    average
4       201944        1.337713  ...     young    average

[5 rows x 62 columns]

In [0]:
numerik.pop(numerik.index('area_percentage'))

'area_percentage'

In [0]:
all_clean[numerik].describe().T

                        count      mean       std  min  25%  50%  75%   max
height_percentage    260601.0  5.434365  1.918418  2.0  4.0  5.0  6.0  32.0
count_families       260601.0  0.983949  0.418389  0.0  1.0  1.0  1.0   9.0
count_floors_pre_eq  260601.0  2.129723  0.727665  1.0  2.0  2.0  2.0   9.0

In [0]:
all_clean['height_percentage'] = np.log1p(all_clean['height_percentage'])
all_clean['count_floors_pre_eq'] = np.log1p(all_clean['count_floors_pre_eq'])
all_clean['count_families'] = np.log1p(all_clean['count_families'])

In [0]:
all_clean = pd.get_dummies(data = all_clean, columns = ['age_bins', 'area_bins'], drop_first = True, prefix_sep = '|')

In [0]:
print(all_clean.shape)
all_clean.head()

(260601, 65)

   building_id  geo_level_1_id  ...  area_bins|average  area_bins|big
0       802906        1.161724  ...                  1              0
1        28830        1.485273  ...                  1              0
2        94947        1.563369  ...                  0              0
3       590882        1.000960  ...                  1              0
4       201944        1.337713  ...                  1              0

[5 rows x 65 columns]

In [0]:
# will preprocess test set as well

In [0]:
test = pd.read_csv(test_vals)
test.head()

   building_id  ...  has_secondary_use_other
0       300051  ...                        0
1        99355  ...                        0
2       890251  ...                        0
3       745817  ...                        0
4       421793  ...                        0

[5 rows x 39 columns]

In [0]:
test_dummied = pd.get_dummies(data = test, columns = categorik, drop_first = True, prefix_sep = '|')

In [0]:
test995 = test_dummied[test_dummied['age'] == 995]
testremainder = test_dummied[test_dummied['age'] != 995]

In [0]:
el2 =[]

for k,v in age_dict.items():
    
    repetition = round(test995.shape[0] * v)
    temp_list = repetition * [k]
    
    el2 = el2 + temp_list
    
el2

In [0]:
len(el2)

459

In [0]:
el2 = el2 + [10, 10]

el2

In [0]:
shuffle(el2)

In [0]:
test995['age'] = el2

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
test_clean = pd.concat([testremainder, test995], axis = 0).reset_index(drop = True)

In [0]:
test_clean['geo_level_1_id'] = test_clean['geo_level_1_id'].replace(geo1_dict)
test_clean['geo_level_2_id'] = test_clean['geo_level_2_id'].replace(geo2_dict)
test_clean['geo_level_3_id'] = test_clean['geo_level_3_id'].replace(geo3_dict)

In [0]:
test_clean[test_clean.geo_level_2_id == 0].shape

(4, 61)

In [0]:
geo2_mean = all_clean['geo_level_2_id'].mean()
geo3_mean = all_clean['geo_level_3_id'].mean()

In [0]:
test_clean['geo_level_2_id'] = test_clean['geo_level_2_id'].replace({0:geo2_mean})
test_clean[test_clean['geo_level_2_id'] == 0]

Empty DataFrame
Columns: [building_id, geo_level_1_id, geo_level_2_id, geo_level_3_id, count_floors_pre_eq, age, area_percentage, height_percentage, has_superstructure_adobe_mud, has_superstructure_mud_mortar_stone, has_superstructure_stone_flag, has_superstructure_cement_mortar_stone, has_superstructure_mud_mortar_brick, has_superstructure_cement_mortar_brick, has_superstructure_timber, has_superstructure_bamboo, has_superstructure_rc_non_engineered, has_superstructure_rc_engineered, has_superstructure_other, count_families, has_secondary_use, has_secondary_use_agriculture, has_secondary_use_hotel, has_secondary_use_rental, has_secondary_use_institution, has_secondary_use_school, has_secondary_use_industry, has_secondary_use_health_post, has_secondary_use_gov_office, has_secondary_use_use_police, has_secondary_use_other, land_surface_condition|o, land_surface_condition|t, foundation_type|i, foundation_type|r, foundation_type|u, foundation_type|w, roof_type|q, roof_type|x, ground_floor_type|m, ground_floor_type|v, ground_floor_type|x, ground_floor_type|z, other_floor_type|q, other_floor_type|s, other_floor_type|x, position|o, position|s, position|t, plan_configuration|c, plan_configuration|d, plan_configuration|f, plan_configuration|m, plan_configuration|n, plan_configuration|o, plan_configuration|q, plan_configuration|s, plan_configuration|u, legal_ownership_status|r, legal_ownership_status|v, legal_ownership_status|w]
Index: []

In [0]:
test_clean['geo_level_3_id'] = test_clean['geo_level_3_id'].replace({0:geo3_mean})

In [0]:
age_series_test = pd.cut(x = test_clean['age'], bins = [0,10,30,80,200], include_lowest = True, labels = 'new young old ancient'.split()).rename('age_bins')

age_series_test

In [0]:
test_clean = pd.concat([test_clean, age_series_test], axis = 1)

In [0]:
series_area_test = pd.cut(x = test_clean['area_percentage'], bins = [1,5,9,100], labels = 'small average big'.split(), include_lowest = True).rename('area_bins')

test_clean = pd.concat([test_clean, series_area_test], axis = 1).drop(labels = 'area_percentage', axis = 1)

In [0]:
test_clean['height_percentage'] = np.log1p(test_clean['height_percentage'])
test_clean['count_floors_pre_eq'] = np.log1p(test_clean['count_floors_pre_eq'])
test_clean['count_families'] = np.log1p(test_clean['count_families'])

In [0]:
test_clean = pd.get_dummies(data = test_clean, columns = ['age_bins', 'area_bins'], prefix_sep = '|', drop_first = True)

In [0]:
test_clean = test_clean.drop(labels = 'age', axis = 1)

In [0]:
test_clean.head()

   building_id  geo_level_1_id  ...  area_bins|average  area_bins|big
0       300051        1.794480  ...                  1              0
1        99355        1.161724  ...                  0              1
2       890251        1.000960  ...                  0              0
3       745817        0.730887  ...                  0              1
4       421793        1.794480  ...                  1              0

[5 rows x 64 columns]

In [0]:
s = 0

for tr, te in zip(all_clean.drop(labels ='damage_grade', axis = 1), test_clean.columns.tolist()):
    if tr == te:
        s = 0
    else:
        s += 1
s

0

In [0]:
from sklearn.preprocessing import StandardScaler

import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam

In [0]:
x = all_clean.drop(labels = ['building_id', 'damage_grade'], axis = 1)
y = all_clean['damage_grade']
y_keras = pd.get_dummies(all_clean[['damage_grade']], columns = ['damage_grade'], prefix_sep = '|')

In [0]:
## Upsampled tryout

from imblearn.over_sampling import SMOTE

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

In [0]:
sm = SMOTE(random_state = 42)
x_resampled, y_resampled = sm.fit_resample(x,y)

In [0]:
print(x_resampled.shape, y_resampled.shape)
print(y_resampled.value_counts())

In [0]:
x.shape

(260601, 63)

In [0]:
model = Sequential()

model.add(Dense(output_dim = 60, input_dim = 63, activation = 'relu', init = 'uniform'))
model.add(Dense(output_dim = 60, activation = 'relu'))
model.add(Dense(output_dim = 60, activation = 'relu',))
model.add(Dense(output_dim = 60, activation = 'relu'))
model.add(Dense(output_dim = 60, activation = 'relu'))
model.add(Dense(output_dim = 60, activation = 'relu'))
model.add(Dense(output_dim = 60, activation = 'relu'))
model.add(Dense(output_dim = 3, activation = 'softmax'))

model.compile(optimizer = 'adam', loss = 'categorical_crossentropy', metrics = ['accuracy'])

model.fit(x,y_keras, batch_size = 13030, epochs = 150, validation_split = .2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(input_dim=63, activation="relu", units=60, kernel_initializer="uniform")`
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=60, kernel_initializer="uniform")`
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=60, kernel_initializer="uniform")`
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=60, kernel_initializer="uniform")`

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=60, kernel_initializer="uniform")`
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=60, kernel_initializer="uniform")`

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=60, kernel_initializer="uniform")`
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="softmax", units=3)`
  # Remove the CWD from sys.path while we load stuff.

Train on 208480 samples, validate on 52121 samples
Epoch 1/150
208480/208480 [==============================] - 2s 9us/step - loss: 1.0780 - acc: 0.5688 - val_loss: 1.0475 - val_acc: 0.5691
Epoch 2/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.9843 - acc: 0.5689 - val_loss: 0.9324 - val_acc: 0.5691
Epoch 3/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.9078 - acc: 0.5689 - val_loss: 0.8966 - val_acc: 0.5691
Epoch 4/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.8842 - acc: 0.5689 - val_loss: 0.8730 - val_acc: 0.5691
Epoch 5/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.8568 - acc: 0.5689 - val_loss: 0.8479 - val_acc: 0.5691
Epoch 6/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.8280 - acc: 0.5776 - val_loss: 0.8065 - val_acc: 0.6441
Epoch 7/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.7623 - acc: 0.6774 - val_loss: 0.7015 - val_acc: 0.7071
Epoch 8/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.6580 - acc: 0.7094 - val_loss: 0.6344 - val_acc: 0.7117
Epoch 9/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.6109 - acc: 0.7196 - val_loss: 0.6030 - val_acc: 0.7259
Epoch 10/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5952 - acc: 0.7325 - val_loss: 0.5952 - val_acc: 0.7328
Epoch 11/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5901 - acc: 0.7353 - val_loss: 0.5917 - val_acc: 0.7336
Epoch 12/150
208480/208480 [==============================] - 1s 3us/step - loss: 0.5866 - acc: 0.7373 - val_loss: 0.5879 - val_acc: 0.7354
Epoch 13/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5838 - acc: 0.7385 - val_loss: 0.5861 - val_acc: 0.7381
Epoch 14/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5814 - acc: 0.7397 - val_loss: 0.5839 - val_acc: 0.7377
Epoch 15/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5801 - acc: 0.7408 - val_loss: 0.5813 - val_acc: 0.7399
Epoch 16/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5806 - acc: 0.7410 - val_loss: 0.5825 - val_acc: 0.7383
Epoch 17/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5786 - acc: 0.7421 - val_loss: 0.5791 - val_acc: 0.7416
Epoch 18/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5758 - acc: 0.7431 - val_loss: 0.5781 - val_acc: 0.7420
Epoch 19/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5756 - acc: 0.7432 - val_loss: 0.5803 - val_acc: 0.7393
Epoch 20/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5757 - acc: 0.7433 - val_loss: 0.5770 - val_acc: 0.7422
Epoch 21/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5737 - acc: 0.7440 - val_loss: 0.5762 - val_acc: 0.7433
Epoch 22/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5740 - acc: 0.7440 - val_loss: 0.5788 - val_acc: 0.7435
Epoch 23/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5741 - acc: 0.7443 - val_loss: 0.5751 - val_acc: 0.7438
Epoch 24/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5724 - acc: 0.7449 - val_loss: 0.5770 - val_acc: 0.7416
Epoch 25/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5724 - acc: 0.7446 - val_loss: 0.5756 - val_acc: 0.7444
Epoch 26/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5736 - acc: 0.7446 - val_loss: 0.5744 - val_acc: 0.7436
Epoch 27/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5717 - acc: 0.7453 - val_loss: 0.5741 - val_acc: 0.7445
Epoch 28/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5727 - acc: 0.7450 - val_loss: 0.5794 - val_acc: 0.7439
Epoch 29/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5720 - acc: 0.7455 - val_loss: 0.5755 - val_acc: 0.7426
Epoch 30/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5717 - acc: 0.7452 - val_loss: 0.5732 - val_acc: 0.7448
Epoch 31/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5719 - acc: 0.7459 - val_loss: 0.5732 - val_acc: 0.7452
Epoch 32/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5707 - acc: 0.7456 - val_loss: 0.5752 - val_acc: 0.7453
Epoch 33/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5708 - acc: 0.7459 - val_loss: 0.5749 - val_acc: 0.7427
Epoch 34/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5703 - acc: 0.7456 - val_loss: 0.5736 - val_acc: 0.7442
Epoch 35/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5698 - acc: 0.7459 - val_loss: 0.5723 - val_acc: 0.7452
Epoch 36/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5708 - acc: 0.7456 - val_loss: 0.5773 - val_acc: 0.7403
Epoch 37/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5707 - acc: 0.7463 - val_loss: 0.5726 - val_acc: 0.7459
Epoch 38/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5707 - acc: 0.7454 - val_loss: 0.5769 - val_acc: 0.7454
Epoch 39/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5738 - acc: 0.7447 - val_loss: 0.5759 - val_acc: 0.7454
Epoch 40/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5714 - acc: 0.7453 - val_loss: 0.5724 - val_acc: 0.7457
Epoch 41/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5696 - acc: 0.7464 - val_loss: 0.5719 - val_acc: 0.7448
Epoch 42/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5686 - acc: 0.7466 - val_loss: 0.5723 - val_acc: 0.7450
Epoch 43/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5698 - acc: 0.7456 - val_loss: 0.5725 - val_acc: 0.7456
Epoch 44/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5684 - acc: 0.7465 - val_loss: 0.5720 - val_acc: 0.7452
Epoch 45/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5683 - acc: 0.7463 - val_loss: 0.5718 - val_acc: 0.7457
Epoch 46/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5682 - acc: 0.7464 - val_loss: 0.5714 - val_acc: 0.7451
Epoch 47/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5680 - acc: 0.7466 - val_loss: 0.5720 - val_acc: 0.7455
Epoch 48/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5695 - acc: 0.7463 - val_loss: 0.5720 - val_acc: 0.7435
Epoch 49/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5680 - acc: 0.7466 - val_loss: 0.5715 - val_acc: 0.7453
Epoch 50/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5684 - acc: 0.7465 - val_loss: 0.5713 - val_acc: 0.7448
Epoch 51/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5677 - acc: 0.7470 - val_loss: 0.5715 - val_acc: 0.7442
Epoch 52/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5676 - acc: 0.7468 - val_loss: 0.5710 - val_acc: 0.7456
Epoch 53/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5682 - acc: 0.7469 - val_loss: 0.5724 - val_acc: 0.7451
Epoch 54/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5678 - acc: 0.7471 - val_loss: 0.5709 - val_acc: 0.7456
Epoch 55/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5672 - acc: 0.7470 - val_loss: 0.5710 - val_acc: 0.7453
Epoch 56/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5680 - acc: 0.7467 - val_loss: 0.5705 - val_acc: 0.7450
Epoch 57/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5668 - acc: 0.7468 - val_loss: 0.5703 - val_acc: 0.7456
Epoch 58/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5674 - acc: 0.7472 - val_loss: 0.5741 - val_acc: 0.7457
Epoch 59/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5678 - acc: 0.7466 - val_loss: 0.5718 - val_acc: 0.7458
Epoch 60/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5691 - acc: 0.7458 - val_loss: 0.5740 - val_acc: 0.7431
Epoch 61/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5685 - acc: 0.7461 - val_loss: 0.5732 - val_acc: 0.7435
Epoch 62/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5673 - acc: 0.7467 - val_loss: 0.5706 - val_acc: 0.7456
Epoch 63/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5666 - acc: 0.7466 - val_loss: 0.5705 - val_acc: 0.7456
Epoch 64/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5665 - acc: 0.7468 - val_loss: 0.5702 - val_acc: 0.7457
Epoch 65/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5666 - acc: 0.7465 - val_loss: 0.5706 - val_acc: 0.7460
Epoch 66/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5676 - acc: 0.7465 - val_loss: 0.5731 - val_acc: 0.7428
Epoch 67/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5684 - acc: 0.7458 - val_loss: 0.5702 - val_acc: 0.7450
Epoch 68/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5668 - acc: 0.7470 - val_loss: 0.5699 - val_acc: 0.7459
Epoch 69/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5669 - acc: 0.7467 - val_loss: 0.5726 - val_acc: 0.7453
Epoch 70/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5680 - acc: 0.7464 - val_loss: 0.5702 - val_acc: 0.7456
Epoch 71/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5660 - acc: 0.7471 - val_loss: 0.5697 - val_acc: 0.7452
Epoch 72/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5658 - acc: 0.7472 - val_loss: 0.5697 - val_acc: 0.7457
Epoch 73/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5657 - acc: 0.7475 - val_loss: 0.5698 - val_acc: 0.7447
Epoch 74/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5668 - acc: 0.7465 - val_loss: 0.5695 - val_acc: 0.7461
Epoch 75/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5659 - acc: 0.7471 - val_loss: 0.5704 - val_acc: 0.7453
Epoch 76/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5657 - acc: 0.7470 - val_loss: 0.5725 - val_acc: 0.7461
Epoch 77/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5660 - acc: 0.7475 - val_loss: 0.5693 - val_acc: 0.7452
Epoch 78/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5656 - acc: 0.7469 - val_loss: 0.5694 - val_acc: 0.7457
Epoch 79/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5657 - acc: 0.7469 - val_loss: 0.5701 - val_acc: 0.7460
Epoch 80/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5663 - acc: 0.7469 - val_loss: 0.5707 - val_acc: 0.7460
Epoch 81/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5656 - acc: 0.7471 - val_loss: 0.5700 - val_acc: 0.7459
Epoch 82/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5671 - acc: 0.7464 - val_loss: 0.5722 - val_acc: 0.7442
Epoch 83/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5669 - acc: 0.7465 - val_loss: 0.5706 - val_acc: 0.7456
Epoch 84/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5657 - acc: 0.7475 - val_loss: 0.5705 - val_acc: 0.7447
Epoch 85/150
208480/208480 [==============================] - 1s 3us/step - loss: 0.5653 - acc: 0.7473 - val_loss: 0.5697 - val_acc: 0.7451
Epoch 86/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5660 - acc: 0.7468 - val_loss: 0.5727 - val_acc: 0.7448
Epoch 87/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5657 - acc: 0.7472 - val_loss: 0.5690 - val_acc: 0.7453
Epoch 88/150
208480/208480 [==============================] - 1s 3us/step - loss: 0.5651 - acc: 0.7474 - val_loss: 0.5708 - val_acc: 0.7463
Epoch 89/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5658 - acc: 0.7467 - val_loss: 0.5709 - val_acc: 0.7440
Epoch 90/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5661 - acc: 0.7470 - val_loss: 0.5693 - val_acc: 0.7456
Epoch 91/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5657 - acc: 0.7469 - val_loss: 0.5715 - val_acc: 0.7461
Epoch 92/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5659 - acc: 0.7468 - val_loss: 0.5697 - val_acc: 0.7456
Epoch 93/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5655 - acc: 0.7471 - val_loss: 0.5695 - val_acc: 0.7449
Epoch 94/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5654 - acc: 0.7469 - val_loss: 0.5727 - val_acc: 0.7454
Epoch 95/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5667 - acc: 0.7464 - val_loss: 0.5701 - val_acc: 0.7459
Epoch 96/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5656 - acc: 0.7472 - val_loss: 0.5692 - val_acc: 0.7461
Epoch 97/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5647 - acc: 0.7473 - val_loss: 0.5687 - val_acc: 0.7451
Epoch 98/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5647 - acc: 0.7473 - val_loss: 0.5693 - val_acc: 0.7452
Epoch 99/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5650 - acc: 0.7472 - val_loss: 0.5691 - val_acc: 0.7461
Epoch 100/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5653 - acc: 0.7471 - val_loss: 0.5704 - val_acc: 0.7448
Epoch 101/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5647 - acc: 0.7474 - val_loss: 0.5702 - val_acc: 0.7451
Epoch 102/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5664 - acc: 0.7467 - val_loss: 0.5686 - val_acc: 0.7458
Epoch 103/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5666 - acc: 0.7467 - val_loss: 0.5701 - val_acc: 0.7451
Epoch 104/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5650 - acc: 0.7470 - val_loss: 0.5709 - val_acc: 0.7444
Epoch 105/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5653 - acc: 0.7470 - val_loss: 0.5685 - val_acc: 0.7448
Epoch 106/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5647 - acc: 0.7472 - val_loss: 0.5685 - val_acc: 0.7457
Epoch 107/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5646 - acc: 0.7472 - val_loss: 0.5688 - val_acc: 0.7448
Epoch 108/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5644 - acc: 0.7480 - val_loss: 0.5685 - val_acc: 0.7455
Epoch 109/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5644 - acc: 0.7473 - val_loss: 0.5683 - val_acc: 0.7452
Epoch 110/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5644 - acc: 0.7474 - val_loss: 0.5683 - val_acc: 0.7461
Epoch 111/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5647 - acc: 0.7474 - val_loss: 0.5698 - val_acc: 0.7449
Epoch 112/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5651 - acc: 0.7472 - val_loss: 0.5685 - val_acc: 0.7459
Epoch 113/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5640 - acc: 0.7474 - val_loss: 0.5683 - val_acc: 0.7464
Epoch 114/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5647 - acc: 0.7467 - val_loss: 0.5688 - val_acc: 0.7449
Epoch 115/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5641 - acc: 0.7476 - val_loss: 0.5708 - val_acc: 0.7443
Epoch 116/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5641 - acc: 0.7475 - val_loss: 0.5681 - val_acc: 0.7455
Epoch 117/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5641 - acc: 0.7473 - val_loss: 0.5689 - val_acc: 0.7464
Epoch 118/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5637 - acc: 0.7476 - val_loss: 0.5689 - val_acc: 0.7451
Epoch 119/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5639 - acc: 0.7473 - val_loss: 0.5688 - val_acc: 0.7444
Epoch 120/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5644 - acc: 0.7475 - val_loss: 0.5689 - val_acc: 0.7468
Epoch 121/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5641 - acc: 0.7474 - val_loss: 0.5683 - val_acc: 0.7464
Epoch 122/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5634 - acc: 0.7478 - val_loss: 0.5685 - val_acc: 0.7463
Epoch 123/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5638 - acc: 0.7475 - val_loss: 0.5686 - val_acc: 0.7461
Epoch 124/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5643 - acc: 0.7477 - val_loss: 0.5692 - val_acc: 0.7443
Epoch 125/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5643 - acc: 0.7475 - val_loss: 0.5689 - val_acc: 0.7448
Epoch 126/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5634 - acc: 0.7478 - val_loss: 0.5686 - val_acc: 0.7468
Epoch 127/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5634 - acc: 0.7477 - val_loss: 0.5675 - val_acc: 0.7462
Epoch 128/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5632 - acc: 0.7480 - val_loss: 0.5686 - val_acc: 0.7454
Epoch 129/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5636 - acc: 0.7476 - val_loss: 0.5681 - val_acc: 0.7456
Epoch 130/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5633 - acc: 0.7480 - val_loss: 0.5689 - val_acc: 0.7455
Epoch 131/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5636 - acc: 0.7474 - val_loss: 0.5678 - val_acc: 0.7464
Epoch 132/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5635 - acc: 0.7476 - val_loss: 0.5677 - val_acc: 0.7463
Epoch 133/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5631 - acc: 0.7479 - val_loss: 0.5675 - val_acc: 0.7465
Epoch 134/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5630 - acc: 0.7479 - val_loss: 0.5685 - val_acc: 0.7456
Epoch 135/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5635 - acc: 0.7478 - val_loss: 0.5677 - val_acc: 0.7465
Epoch 136/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5635 - acc: 0.7477 - val_loss: 0.5707 - val_acc: 0.7442
Epoch 137/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5636 - acc: 0.7483 - val_loss: 0.5680 - val_acc: 0.7452
Epoch 138/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5635 - acc: 0.7476 - val_loss: 0.5681 - val_acc: 0.7466
Epoch 139/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5637 - acc: 0.7474 - val_loss: 0.5687 - val_acc: 0.7463
Epoch 140/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5635 - acc: 0.7480 - val_loss: 0.5677 - val_acc: 0.7466
Epoch 141/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5633 - acc: 0.7480 - val_loss: 0.5678 - val_acc: 0.7451
Epoch 142/150
208480/208480 [==============================] - 1s 4us/step - loss: 0.5634 - acc: 0.7478 - val_loss: 0.5684 - val_acc: 0.7464
Epoch 143/150

In [0]:
submis_x = test_clean.drop(labels = 'building_id', axis = 1)

submis_df = pd.concat([test_clean['building_id'], pd.DataFrame(pd.DataFrame(model.predict(submis_x), columns = [1,2,3]).idxmax(axis = 1), columns = ['damage_grade'])], axis = 1).set_index('building_id')

# submis_df.to_csv('submis1.csv')

In [0]:
submis_df2 = pd.merge(left = pd.read_csv(test_vals)[['building_id']], right = submis_df, how = 'left', on = 'building_id').set_index('building_id')
submis_df2.to_csv('submis4.csv')